@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  color: rgb(26,26,26); 
}
h1, h2, h3, h4 {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.2;
}
.remark-slide-content h1 { 
  font-size: 3em;
  margin-top: 0.5em;
}
.remark-slide-content h2 { 
  font-size: 2.5em;
  margin-top: 0.5em;
}
.remark-slide-content h3 { 
  font-size: 2em;
  margin-top: 0.5em;
}
.remark-slide-content h4 { 
  font-size: 1.5em;
  margin-top: 0.5em;
}
.remark-slide-content ul {
  font-size: 1.5em;
}
.remark-slide-content h3 + ul {
  margin-top: 0.5em;
}
.footnote {
  position: absolute;
  bottom: 5em;
  color: rgb(199, 205, 223);
  right: 10px;
}
.footnote :hover {
  text-decoration: underline;
}
.small {
  font-size: 0.7em;
}
.em {
  background-color: rgb(225, 230, 247);
}
.remark-slide-content {
    background-position: bottom!important;   
}
.remark-slide-number {
  font-size: 12px!important;
  right: 50%!important;
  margin: 0 auto;
  color: white;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: #A8A358;
  text-decoration: none;
}
code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 1em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  /* text-shadow: 0 0 20px #333;*/
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
}
/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}
/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
  padding-top: 1em;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.right-column h4 {
  margin-top: 1em;
}

img {
  width: 95%;
}
